.main
  .main__header
    .main__header__group
      .main__header__group__title
        .main__header__group__title__name
          = @group.name
        .main__header__group__title__member
          Member :
          - @group.users.each do |n|
            = n.name
      .main__header__group__edit-btn
        = link_to edit_group_path(@group), class: "edit-btn" do
          Edit


  .main__chats
    = render @messages

  .main__form
    = form_for [@group, @message], html: { class: "main__form__posts" } do |f| 
      .main__form__posts__text
        .main__form__posts__text__input-box
          = f.text_field :content, class: 'input_text', placeholder: 'type a message'
          = f.label :image, class: 'input_image' do
            = icon('fas', 'image')
            = f.file_field :image, class: 'image'
      .main__form__posts__submit
        = f.submit 'Send', class: 'submit_btn'
