.side_bar
  .side_header
    .user
      .name
        = current_user.name
      .all_icon
        .icon_1
          = link_to "#", class: "EDIT" do
            = icon('far', 'edit')
        .icon_2
          = link_to edit_user_path(current_user), class: "COG" do
            = icon('fas', 'cog')
  .group_list
    = link_to "#" do
      .group_title
        techcamp
      .group_massege
        まだメッセージがありません